[submodule "BeliefSystem"]
	path = BeliefSystem
	url = https://github.com/NepalRobotics/BeliefSystem.git
[submodule "MAVLinkConnector"]
	path = MAVLinkConnector
	url = https://github.com/NepalRobotics/MAVLinkConnector.git
