[submodule "BeliefSystem"]
	path = BeliefSystem
	url = https://github.com/NepalRobotics/BeliefSystem.git
[submodule "MAVLinkConnector"]
	path = MAVLinkConnector
	url = https://github.com/NepalRobotics/MAVLinkConnector.git
[submodule "Utils"]
	path = Utils
	url = https://github.com/NepalRobotics/Utils.git
